.wrapper {
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  @media (max-width: 640px) {
    width: 100%;
    justify-content: center;
    flex-direction: column;
  }
}

.listItem {



  @media (max-width: 640px) {
    button {
      justify-content: center;
      width: 100%;
    }
  }
}