.wrapper {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.header {
  padding: 30px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;

@media (max-width: 640px) {
  padding: 10px 0 50px 0;
  justify-content: center;

}
}

.heading {
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0.01em;
}

.footer {
  padding: 30px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;

  p {
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.01em;
    span {
      font-weight: bold;
    }
  }

  @media (max-width: 640px) {
    padding: 10px 0;
    justify-content: center;

  }
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;

    span {
       color: var(--primary);
    }

}

.cartEmpty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  max-width: 500px;
  margin: 10% auto;

  p {
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.01em;

    color: #777777;
  }
}