.button{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 35px;
    border: 1px solid transparent;
    background: transparent;
    font: inherit;
    cursor: pointer;
    border-radius: 30px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.primary{
    border: 1px solid var(--primary);
    color: var(--primary);
}

.secondary{
    background: var(--secondary);
    color: var(--black);
    &:hover {
        transition: all linear 0.2s;
        @extend .secondaryAcive
    }
}

.secondaryAcive {
    background: #282828;
    color: var(--white);
}