.wrapper {
  position: sticky;
  top: 0;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  background: var(--white);
  z-index: 100;


  &:after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    background: #F7F7F7;
    bottom: 0;
  }

  @media (max-width: 640px) {

    padding: 10px 0;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}