.wrapper{

}
.list{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 30px;

}
.item{
  position: relative;
  padding-bottom: 60px;

  &:after{
    position: absolute;
    bottom: 0;
    content: '';
    height: 1px;
    width: 100%;
    background: #F4F4F4;
  }
}