.wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.text {
  margin: 0;
  padding: 10px;
  width: 280px;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 10px;

  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.015em;
  cursor: pointer;
}

.emphased {
  font-weight: normal;
  color: var(--primary);

  text-decoration: underline var(--primary) dotted;
  text-underline-offset: 5px;
}

.list {
  width: 165px;
  position: absolute;
  z-index: 5;
  right: 0;
  top: 40px;
  padding: 15px 0;
  background: var(--white);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
}

.item {
  cursor: pointer;

  span {
    display: block;
    padding: 10px 20px;
  }

  &:hover {
    @extend .itemActive
  }
}

.itemActive {
  background: rgba(254, 95, 30, 0.05);

  span {
    font-weight: bold;
    color: var(--primary);
  }
}

.rotate {
  transform: rotate(180deg);
  transition: all linear 0.2s;
}